@model IEnumerable<DomainModel.Models.Catalogue>

@{
    ViewData["Title"] = "Index";
}

@section scripts
{
    <script src="~/js/catalogue.js">
    </script>
}

<h1>All Books in Catalogue</h1>
@*@ViewBag.thisUser*@

@*<form asp-controller="Catalogue" asp-action="Index" asp-route-srch="@ViewBag.searchtext" asp-route-sta="@ViewBag.sta">
    <p>
        Search by Title or Author <br /><input type="text" name="srch" value="@ViewBag.searchtext" />
        <input type="submit" value="Filter" />
    </p>
</form>*@
<p></p>
@ViewBag.message
<p></p>


<table id="example" class="table table-hover table-bordered" cellspacing="0" style="width:100%">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.book.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.book.Author)
            </th>
            <th>
                @Html.Label("Reserve Status")
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.book.Title)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.book.Author)
                </td>
                <td>

                    @{
                        bool found = false;
                    }


                    @foreach (Reservation r in item.book.ReserveList)
                    {

                        if (r.borrower.Id == ViewBag.thisUser)
                        {
                            found = true;

                        }
                    }

                    @if (found)

                    {
                        @Html.Label("Reserved")
                    }
                    else
                    {
                        <a asp-action="Reserve" asp-route-id="@item.book.BookID">Reserve</a>
                    }
                </td>
            </tr>
        }
    </tbody>
</table>


